.le-hero {
    background-attachment:fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    height:600px;
    header {
        padding-top:rem-calc(100);
    }
    h1 {
        color:white;
        font-weight: bold;
    }

}

.single__meta--display {
    color:rgba($white, 0.3);
    font-size:rem-calc(13);
}

.single__heading {
    color:white;
    &--contain {
        font-weight: 700;
    }
    &--price {
        float:left;
        width:30%;
        font-size:rem-calc(52);
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }
    &--buy {
        float: left;
        width: 60%;
        line-height: 4.5;
        .button {
            margin-bottom: 0;
        }
    }
    &--rating {
        width:100%;
        font-size:rem-calc(30);
        margin-top: rem-calc(10);
        &:after {
            clear: right;
            content:'';
        }
        .review-total-only {
            background:transparent;
            padding:0;
        }
        .review-result-wrapper .review-result {
            height: rem-calc(25 * 2);
            i {
                color:$green-feature;
            }
        }
        .review-result-wrapper i {
            font-size: rem-calc(25);
            color:$white;
            //opacity: 1;
        }
    }
}
.green-feature {
    background-color: darken($green-feature, 10%);
    &:hover, &:focus {
        background-color: darken($green-feature, 15%);
    }
}
.single {
    background:white;
}

// Category name under the singlepost title
.single__catgname {
    color: white;
    display: block;
    padding-top: rem-calc(30);
    color:#4cca00;
    text-transform: uppercase;
    font-size: rem-calc(11);
    letter-spacing: 2px;
    font-weight: bold;
    font-family:$font-family-lato;
}

.avatar {
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    margin-right: rem-calc(10);
}

.meta__time--update {
    display: block;
    clear:left;
    font-size: rem-calc(12);
    font-family: $font-family-lato;
}

.meta__author--size {
    font-size: rem-calc(12);
    font-family: $font-family-lato;
}

.meta__elem--oil {
    color:lighten($oil, 30%);
}

.front-half {
    margin:rem-calc(90) 0 rem-calc(10);
    border-bottom:1px solid lighten($oil, 60%);
    padding-bottom:rem-calc(10);
}

.meta__twitter, .meta__fb {
    @include single-transition();
    &:before {
        font-size: rem-calc(20);
    }
    &:hover {
        color:$blue-color-custom;
    }
}

.entry-content {
    margin-top:rem-calc(80);
    @media #{$small-only} {
        margin-top:rem-calc(40);
    }
}
